/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(233, 73, 133);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    margin-top: 2em;
}

.centered {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

@media screen and (max-device-width: 980px) {
    .container {
        width: 96%;
    }
}